<div class="row align-center mb-5">
  
  <form class="form post-form">
  <div class="form-group">
    <label for="title-post">Title:</label>
    <input class="form-input" type="text" id="title-post" />
  </div>
  <div class="form-group">
    <label for="content-post">Content:</label>
    <input class="form-input" type="text" id="content-post" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

{{!-- <button id="new-post">New Post</button> --}}
  <div class="col-md-6">
  </div>
</div>

<script src="/js/dashboardNew.js"></script>